<div class="row">
<div class="col-6">{{draw-chart content=model.city chartOptions=cityOptions}}</div>
{{#if model.isAdmin}}
<div class="col-6">{{draw-chart content=model.password chartOptions=passwordOptions}}</div>
{{/if}}
</div>
