<div class="row">
<select class="form-control form-control-sm col-3" onchange={{action "setChart" value="target.value"}}>
  <option value="line" selected>Line</option>
  <option value="area">Area</option>
  <option value="column">Column</option>
  <option value="bar">Operator</option>
  <option value="scatter">Scatter</option>
  <option value="pie">Pie</option>
</select>
</div>
{{yield results}}
