<div class="container">
<nav class="navbar navbar-dark bg-dark">
			{{#link-to "index" class="navbar-brand"}}
			Index
			{{/link-to}}
			{{#link-to "employees" class="navbar-brand"}}
			Employee
			{{/link-to}}

			{{#link-to "addnew" class="navbar-brand"}}
			Add new
			{{/link-to}}
			{{#link-to "change-password" class="navbar-brand"}}
			Change Password
			{{/link-to}}

			<div class="navbar-nav ml-auto">
				<button class="btn btn-outline-info btn-sm"{{action "logout"}}>Logout</button>
			</div>
</nav>


	{{outlet}}
</div>
